@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: "Cocogoose";
  src: url(fonts/Cocogoose_trial.otf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.primary-font {
  font-family: "Lato", sans-serif;
}

.navbar {
  font-family: "Lato", sans-serif;
  padding: 0;
  background-color: #272a31;
  position: absolute;
  width: 100%;
  opacity: 0.95;
  display: none;
  padding-top: 25px;
  height: 82vh;
}

.show {
  display: block;
}

.top-navbar-menu {
  display: none;
}

.bottom-navbar-menu {
  list-style-type: none;
  background-color: #272a31;
  text-align: center;
}

.see-program a {
  text-decoration: none;
  border-bottom: 2px solid white;
  cursor: pointer;
  color: white;
}

.bottom-navbar-menu li {
  margin-bottom: 30px;
}

.about-info a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid;
}

.bottom-navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.nav-btn {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
  display: block;
}

.container {
  padding: 20px 5%;
}

.headline {
  background-color: #9d9d9d;
  color: white;
  font-family: 'Lato', sans-serif;
  background-image: url(image/4.exhibition_BRIGHTER_RETOUCH.jpg);
  background-position: top right;
  background-blend-mode: multiply;
  padding: 100px 0 50px 0;
}

.sub-title {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.title {
  font-family: "Cocogoose", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.short-info,
.about-short-info {
  border: 3px solid white;
  max-width: 900px;
  margin: 30px 0 60px;
  padding: 30px 50px;
}

.about-short-info {
  margin: 30px auto 60px;
}

.headline .short-info {
  max-width: 710px;
  padding: 25px;
}

.about-info .short-info {
  max-width: 900px;
  margin-bottom: 200px;
}

.date {
  font-family: "Cocogoose", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.main {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #737171;
  background-image: url(image/darkblue.jpg);
  background-blend-mode: multiply;
}

.main h2 {
  text-align: center;
}

.main hr {
  width: 10%;
  margin: 5px auto 20px auto;
  text-align: center;
  border: 1.5px solid #ec5242;
}

.main-content {
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.program-content-card {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  color: white;
  font-family: "Lato", sans-serif;
  grid-gap: 10px;
  align-items: center;
  background-color: #272a31;
  opacity: 0.8;
  margin: 10px auto;
  padding: 25px 15px;
}

.program-content-card:hover {
  border: 2px solid white;
}

.program-content-card h3 {
  font-size: 1.2rem;
  color: #ec5242;
  margin-right: 10px;
}

.program-content-card p {
  font-size: 0.9rem;
}

.see-program {
  text-align: center;
  margin: 60px auto 10px auto;
}

.speaker-title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.speakers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0;
}

.speaker {
  background-image: url(image/speaker_bg_img.png);
  background-position: top left;
  background-size: 100px;
  background-repeat: no-repeat;
  max-width: 420px;
  margin: 20px auto;
  display: flex;
}

.speaker hr {
  border: 1.5px solid #9d9d9d;
  width: 15%;
  margin: 5px 0;
}

.speaker i {
  color: #ec5242;
}

.speaker img {
  margin-right: 20px;
  width: 140px;
  height: 140px;
  padding: 20px 0 0 20px;
}

.speaker div {
  margin-top: 15px;
}

.partners {
  background-color: #272a31;
  display: grid;
}

.partners h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #d3d3d3;
}

.title-underline {
  margin: 10px auto;
  width: 30px;
  border: 1.5px solid #ec5242;
}

.partners-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.partners-logo img {
  width: 150px;
  margin: 20px auto;
}

footer {
  text-align: center;
}

.afg-logo {
  width: 150px;
  margin: 20px auto;
}

.about-headline {
  text-align: center;
}

.about-content {
  text-align: center;
}

.about-info {
  background-color: #414754;
  background-blend-mode: multiply;
  background-image: url(image/4.exhibition_BRIGHTER_RETOUCH.jpg);
  color: white;
  padding: 150px 5%;
}

.exhibition-logo {
  margin: 30px auto;
  width: 90%;
  max-width: 650px;
  border: 1px solid black;
}

.exhibition-info {
  margin: 20px auto 0 auto;
}

.container-sep {
  border: none;
  border-bottom: 1px solid black;
}

.event {
  color: white;
  background-image: url(image/4.exhibition_BRIGHTER_RETOUCH.jpg);
  background-position: bottom left;
  border: 1px solid black;
  width: 90%;
  max-width: 550px;
  height: 25vh;
  margin: 20px auto;
  align-self: center;
}

.event h3 {
  font-size: 2.2rem;
  margin: 50px auto 10px auto;
}

@media only screen and (max-width: 768px) {
  .about-short-info p:last-child {
    display: none;
  }

  .speakers {
    grid-template-columns: 1fr;
  }

  .logo {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .program-content-card {
    width: 220px;
    height: 230px;
    display: flex;
    flex-direction: column;
  }

  .info .container {
    padding-top: 150px;
  }

  .short-info {
    margin-bottom: 100px;
  }

  .nav-btn {
    display: none;
  }

  .navbar {
    height: 10vh;
    display: block;
    padding: 0;
  }

  .top-navbar-menu {
    background-color: #272a31;
    padding: 10px;
    list-style: none;
    display: flex;
  }

  .bottom-navbar a {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    background-color: white;
  }

  .top-navbar-menu li a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
  }

  .bottom-navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
  }

  .bottom-navbar-menu {
    list-style-type: none;
    display: flex;
    background-color: white;
  }

  .logo {
    color: white;
  }

  .bottom-navbar-menu li {
    margin-bottom: 0;
  }

  .bottom-navbar-menu li a {
    text-decoration: none;
    color: #000;
    margin-left: 25px;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1rem;
  }
}
